<div class="card" id="card_bl">
  <div class="title_card cm">
      <div class="title">
          <span>{{ itemInfo.card_title | uppercase }}</span>
      </div>
      <div class="help">
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-text-fill" viewBox="0 0 16 16">
            <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1zm0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1z"/>
          </svg>
        </a>
      </div>
  </div>
  <div class="stat_card cm">
      <div class="repr">
          <div class="stat_b_indc">
            <div class="stat_b_indc_turnover">
              <span class="stat_b_indc_turnover_title">Turnover</span>
              <span class="stat_b_indc_turnover_number">$1045.7</span>
            </div>
            <div class="stat_b_indc_trend">
              <img [src]="selectTrending()" alt="">
            </div>
          </div>
      </div>
      <div class="stat">
          <div class="wrapper-center tooltip">
              <div class="progress-bar">
                <svg class="progress" id="val_pc_indc" [attr.data-progress]="saledProductPercentage()"  x="0px" y="0px" viewBox="0 0 80 80"><!--data-progress="30"-->
                  <path class="track" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />
                  <path class="fill" d="M5,40a35,35 0 1,0 70,0a35,35 0 1,0 -70,0" />\

                  <text class="value" x="50%" y="55%">
                      0%
                  </text>

                </svg>
              </div>
              <span class="tooltiptext">Tooltip text</span>
          </div>
      </div>
  </div>
  <div class="nb_card cm">
      <div class="numbers">
          <div class="numbers_title">
              <span>sells numbers</span>
          </div>
          <div class="nb_nb" id="nb_nb_bilan">
              <div class="ind_item">
                  <div class="ind_item_title">
                      <span>
                          {{itemInfo.product_1_name}}
                      </span>
                  </div>
                  <div class="ind_item_bd">
                      <div class="ind_nb">
                          <p>
                          {{itemInfo.product_1_sale_nb}}
                          </p>
                      </div>
                      <div class="ind_pc">
                          <p>
                              {{(itemInfo.product_1_sale_nb/itemInfo.product_1_total_nb) | percent :"2.1-2"}}
                          </p>
                      </div>
                  </div>
              </div>
              <div class="ind_item">
                  <div class="ind_item_title">
                      <span>
                        {{itemInfo.product_2_name}}
                      </span>
                  </div>
                  <div class="ind_item_bd">
                      <div class="ind_nb">
                          <p>
                            {{itemInfo.product_2_sale_nb}}
                          </p>
                      </div>
                      <div class="ind_pc">
                          <p>
                            {{(itemInfo.product_2_sale_nb/itemInfo.product_2_total_nb) | percent :"2.1-2"}}
                          </p>
                      </div>
                  </div>
              </div>
              <div class="ind_item">
                <div class="ind_item_title">
                    <span>
                      Band Spend
                    </span>
                </div>
                <div class="ind_item_bd">
                    <div class="ind_nb">
                        <p>
                          {{itemInfo.spent_amount | currency}}
                        </p>
                    </div>
                    <div class="ind_pc">
                        <p>
                          {{(itemInfo.spent_amount/itemInfo.turnover) | percent :"2.1-2"}}
                        </p>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
  <script>
    var forEach = function (array, callback, scope) {
    for (var i = 0; i < array.length; i++) {
      callback.call(scope, i, array[i]);
    }
  };
  window.onload = function(){
    var max = -219.99078369140625;
    forEach(document.querySelectorAll('.progress'), function (index, value) {
    percent = value.getAttribute('data-progress');
      value.querySelector('.fill').setAttribute('style', 'stroke-dashoffset: ' + ((100 - percent) / 100) * max);
      value.querySelector('.value').innerHTML = percent + '%';
    });
  }
  </script>
</div>

