/* You can add global styles to this file, and also import other style files */
/* Styles for screens smaller than 768px (typical for mobile devices) */
@media (max-width: 768px) {
  /* Your CSS styles for small screens here */
  .card-bodi{
    background-color: rgba(245, 245, 245, 0.425);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .4);
    padding: 35px;
    width: 300px;
    height: 650px;
    border-radius: 10px;
  }

  .card-bodi .card-header{
    font-size:24px;
    font-weight: bold;
    color: rgb(82, 82, 82);
    margin-bottom: 35px;
  }
  .card-bodi form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:stretch;
  }
  .card-bodi input{
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    padding: 20px;
    margin-bottom: 35px;
    width: 92%;
  }

  .card-bodi button{
    background-color: rgb(32, 144, 248);
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 50px;
    height: 40px;
    margin-top: 20px;
  }
}

/* Styles for screens between 768px and 1024px (typical for tablets) */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Your CSS styles for medium-sized screens here */
  .card-bodi{
    background-color: rgba(245, 245, 245, 0.425);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .4);
    padding: 35px;
    width: 300px;
    height: 650px;
    border-radius: 10px;
  }

  .card-bodi .card-header{
    font-size:24px;
    font-weight: bold;
    color: rgb(82, 82, 82);
    margin-bottom: 35px;
    margin-top: 0px;
  }
  .card-bodi form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:stretch;
  }
  .card-bodi input{
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    padding: 20px;
    margin-bottom: 35px;
    width: 92%;
  }

  .card-bodi button{
    background-color: rgb(32, 144, 248);
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 50px;
    height: 40px;
    margin-top: 20px;
  }
}

/* Styles for screens larger than 1024px (typical for desktops) */
@media (min-width: 1025px) {
  /* Your CSS styles for large screens here */
  .cards{
    margin-top: 250px;
  }
  .card-bodi{
    background-color: rgba(245, 245, 245, 0.425);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, .4);
    padding: 35px;
    width: 550px;
    height: 600px;
    border-radius: 10px;
  }

  .card-bodi .card-header{
    font-size: 32px;
    font-weight: bold;
    color: rgb(82, 82, 82);
    margin-bottom: 35px;
  }
  .card-bodi form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:stretch;
  }
  .card-bodi input{
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    background-color: transparent;
    padding: 20px;
    margin-bottom: 35px;
    width: 92%;
  }

  .card-bodi button{
    background-color: rgb(32, 144, 248);
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 50px;
    height: 40px;
    margin-top: 20px;
  }
}
::placeholder {
  color: rgb(255, 255, 255);
}
.card-bodi input:focus{
  outline: none;
  border: none;
  border-bottom: 5px solid rgb(255, 255, 255);
  background-color: transparent;
  padding: 20px;
  margin-bottom: 35px;
  width: 95%;
}
.cards{
  /*height: 350px;
  /*height: 350px;*/
  /*width: 500px;
  /*justify-content: center;*/
  align-items: center;
  /*width: 360px; small screens*/
  /*background-color: rgba(255, 255, 255, 0.6);*/
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
}
